{% extends "ReservacionesApp/base.html" %}
{% load static %}

{% block content %}

{% for vuelo in vuelos %}
<section >
    <div class="container " >
        <div class="row justify-content-center pt-5">
            <div class=" col col-md-5" >
                <!--<div class="col-lg-7 my-3" >-->
                    <div class="card rounded">
                        <div class="card-header bg-light">
                            <h6 class="font-weight-bold mb-0">Vuelos Disponibles</h6>
                        </div>
                        <div style="text-align:center">
                            <p>
                            <p><strong>Origen: </strong>{{vuelo.origen}}</p>
                            <p><strong>Destino: </strong> {{vuelo.destino}}</p>
                            <p><strong>Fecha: </strong> {{vuelo.fechaViaje}}</p>
                            <p><strong>Número de Asientos: </strong>{{vuelo.numAsientos}}</p>
                            </p>
                        </div>
                    </div>
                <!--</div>-->
            </div>

        </div>
    </div>
</section>
{% endfor %}
{% endblock %}